<div id="signUp">
    <div class="d-flex justify-content-center">
        <div class="signup-img">
            <img src="../../../assets/images/trello-logo-blue.jpg" width="135px;" height="42px;">
        </div>
    </div>
        <div class="d-flex justify-content-center">
            <div *ngIf="!isSignedIn" class="signup-form">
                <p class="h4 mb-4" style="text-align: center;">Sign Up</p>
                <div *ngIf="isError" class="error-msg">
                    This email is already exists! 
                    <div>
                        <a (click)="router.navigate(['/login'])" style="cursor: pointer;color:blue;text-decoration: underline;">Click here to Log In</a>
                    </div>
                </div>
                <!-- <div [class.has-error]="emailSignup.invalid && emailSignup.touched">
                    <input type="email" [(ngModel)]="email" class="form-control mb-4" placeholder="E-mail" #emailSignup="ngModel" required>
                    <span class="" *ngIf="emailSignup.invalid && emailSignup.touched">Email is required</span>
                </div> -->
                <input type="email" class="form-control mb-4" placeholder="E-mail" #emailSignup>
                <input type="password" class="form-control mb-4" placeholder="Password" #passwordSignup required>
                <button class="btn btn-info btn-block my-4" (click)="onSignup(emailSignup.value,passwordSignup.value);">Sign
                    Up</button>
            </div>
        </div>s
</div>